<h1 class="ui center aligned header title">Artists   &#9836; </h1>
<div>
<%= link_to 'Add new Artist', new_artist_path %>
</div>
<hr />
<div>
<% @artists.each do |i| %>
  <div class="ui middle aligned animated list">
  <div class="item">
    <div class="content">
      <div class="header"><%= link_to i.name, i %></div>
    </div>
    </div>
    </div>
    <% end %>
 </div>