<h1><%= @artist.name %></h1>
<hr />
<p> Options </p>
<%= link_to 'Edit Artist', edit_artist_path(@artist) %>
<br />
<%= link_to 'Fire Artist', @artist, method: :delete %>
<div>
    <ol>
    <% @artist.songs.each do |song| %>
	<li><%= song.name %></li>
    <% end %>
    </ol>
</div>
 
